body,
html {
    margin: 0 auto;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a {
    color: black;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 16px;
}

.headerLink:hover {
    background-color: transparent;
    text-decoration: none;
}

.headerLink {
    position: relative;
    left: 0;
}

#navbar {
    list-style-type: none;
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

a:hover {
    background-color: #191919;
}

#navbar a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#page-wrapper {
    position: absolute;
    height: auto;
    min-height: 100%;
    width: 85%;
    right: 0px;
}

#profilePic {
    width: 35%;
    padding-right: 15px;
}

.headerImg {
    position: relative;
    width: 100%;
    right: 0;
}

.text {
    position: relative;
    padding: 10px;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 15px;
}

#cvProgramming{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 15px;
    padding-top: 0px;
}

#cvRightCol{
    width: 66%;
    float: right;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 15px;
    padding-top: 0px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #191919;
    color: white;
    text-align: center;
}

#visitorCounter {
    width: 2.5%;
}

#htmlImg{
    width: 60px;
}

.programmingImg{
    width: 20px;
}

.section {
    margin: 0 auto;
    width: 80%;
    left: 10%;
    right: 10%;
    font-size: 18px;
}

.barBackground{
    position: relative;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 25px;
}

.barForeground{
    position: relative;
    height: 20px;
    background-color: green;
    border-radius: 25px;
}

.barPercentage{
    position: relative;
    top: -1px;
    text-align: center; 
    vertical-align: middle; 
    color: white;
}

#javaBar {
    width: 80%;
}

#cppBar {
    width: 60%;
}

#htmlBar{
    width: 50%;
}

.workplace{
    font-weight: bold;
}

.workdate{
    color: green;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

.row {
    width: 100%;
    margin: 0;
    height: auto;
}

.col-1-2 {
    width: 50%;
    height: auto;
}

.col-1-3 {
    width: 33.33%;
    height: auto;
}

.col-1-5 {
    width: 20%;
    height: auto;
}

/*
 *  Games
 */

.gameCanvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

#phaserGame {
    margin-bottom: 40px;
}

#phaserGame>canvas {
    margin: 0 auto;
}

.gameLinkArea {
    position: relative;
    width: 70px;
    margin: 15px;
}

.gameLink {
    position: relative;
    width: 70px;
}

/*
  *
  */

@media screen and (max-width:1170px) {
    #navbar {
        width: 100%;
        position: relative;
    }

    .col-1-2 {
        width: 100%;
    }

    .col-1-3 {
        width: 100%;
    }

    #visitorCounter {
        visibility: hidden;
    }

    #page-wrapper {
        width: 100%;
    }

    #section3 {
        padding-left: 0
    }

    #cvRightCol {
        width: 100%;
        margin-top: 25px;
    }
}