body, html {
    margin: 0 auto;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}

a {
    color: black;
}

a:hover {
    color: black;
}

p {
    margin: 0;
}

.headerLink:hover {
    background-color: transparent;
    text-decoration: none;
}

.headerLink {
    position: relative;
    left: 0;
}

#navbar {
    list-style-type: none;
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

 a:hover {
    background-color: #191919;
}

#navbar a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#page-wrapper {
    position: absolute;
    height: auto;
    min-height: 100%;
    width: 85%;
    right: 0px;
}

#profilePic {
    width: 35%;
    padding-right: 15px; 
}

.headerImg {
    position: relative;
    width: 100%;
    right: 0;
}

.text {
    position: relative;
    padding: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #191919;
    color: white;
    text-align: center;
}

.section {
    margin: 0 auto;
    width: 80%;
    left: 10%;
    right: 10%;
    font-size: 18px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    width: 100%;
    margin: 0;
    height: auto;
}

.col-1-2 {
    width: 50%;
    height: auto;
}

.col-1-5 {
    width: 20%;
    height: auto;
}

@media screen and (max-width:960px) {
    #navbar{
        width: 100%;
        position: relative;
    }
    .col-1-2 {
        width: 100%;
    }
    #page-wrapper{
        width: 100%;
    }
}